<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:lightseagreen;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:lightseagreen;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
<body>

<div id="header">
<h1>Simple Movie Search</h1>
</div>

<div id="nav">
    <a href="..">Home</a><br>
    <!--<a href="../listmovie/">List All Movies</a><br>-->
    <a href="">Search Movie</a><br>
    <!--<a href="../addmovieform/">Add New Movie</a><br>-->
<br>
</div>

<div id="section">
    <h2>Type the name of the movie</h2>
<form action="/searchmovie/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search">
</form>
</div>

<div id="footer">

</div>

</body>









